<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Kakebo - {% block title %}{% endblock %}</title>
    
</head>
<style>


</style>
<body>
    <header>
    <style>


</style>
        
        <p>Boot Z 6 - Kakebo</p>
        
      
    </header>
    <section>
        <h1>{% block content %}{% endblock %}</h1>
    </section>

    <footer>
        &copy; 2020 - 2021. Todos los derechos reservados
    </footer>

</body>

</html>